@import '../styles/patterns.css';
@import '../styles/logo.css';
@import	'../styles/texts.css';
@import '../styles/var.css';
@import './styles/ticket.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100dvh;
}

.background {
    background-image: url("../assets/images/background-desktop.png");
    background-size: cover;
    background-attachment: fixed;
    background-clip: inherit;
    background-repeat: no-repeat;
}



.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: 50%;
    padding-top: 1rem;
    gap: 4rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.nome {
    background-image: linear-gradient(to right, var(--organge-500), var(--neutral-0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email-titulo {
    color: var(--organge-500);
}

.ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 2;
}

.ticket {
    aspect-ratio: 900/430;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/pattern-ticket.svg");
}

.slot-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.3rem;
}

.data {
    width: 100%;
    text-align: center;
    color: var(--neutral-500);
    font-size: 0.6rem;
    font-weight: 900;
    font-family: 'Inconsolata', monospace;
}

.slot-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: start;
    align-items: end;
}

.slot-2-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
    padding-left: 1rem;
    overflow: hidden;
}

.github-ticket {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    color: var(--neutral-300);
    font-size: 8pt;
    font-family: 'Inconsolata';
}

.avatar-ticket {
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
    align-self: end;
}

.name-ticket {
    color: var(--neutral-0);
    font-size: 12pt;
    font-family: 'Inconsolata';
}

.group-1 {
    display: flex;
    width: 85%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: auto;
}

.group-2 {
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ticket-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: var(--neutral-300);
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Inconsolata';
    text-align: center;
    rotate: -90deg;
}

/* Mobile */
@media (max-width: 500px) {

    body {
        height: fit-content;
    }

    header {
        padding-top: 3rem;
    }

    .background {
        background-image: url("../assets/images/background-mobile.png");
    }

    .main-container {
        width: 90%;
    }

    .texts h3 {
        text-align: center;
        width: 100%;
    }

    .ticket-container {
        width: 100%;
    }
    
    .name-ticket {
        font-size: 12pt;
    }

    .github-ticket {
        font-size: 8pt;
    }

    #ticket-number {
        align-self: center;
        font-size: 14pt;
    }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 824px) {
    .main-container {
        width: 90%;
    }

    .avatar-ticket {
        width: 4rem;
        height: 4rem;
    }

    .ticket-container {
        width: 90%;
    }

    .texts h3 {
        text-align: center;
        width: 100%;
    }    

    .name-ticket {
        font-size: 16pt;
    }

    .github-ticket {
        font-size: 14pt;
    }

    .slot-2-1 {
        height: 4rem;
    }

}