.bottom-left-pattern {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 1;
    scale: 2;
}

.top-right-pattern {
    position: fixed;
    top: 3rem;
    right: 0;
    width: 25%;
    z-index: 1;
}

.lines {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

/* Mobile */
@media (max-width: 500px) {
    .bottom-left-pattern {
        width: 80%;
        left: 0;
    }

    .lines {
        scale: 2;
    }
}